.DS_Store
node_modules/
dist/
*.log
.vscode/
.idea/
.gradle/
.m2/
.mvn/
*.swp
*~
Thumbs.db
**/tmp/
**/temp/
**/__pycache__/
*.pyc
*.egg-info/
*.pth
venv/
.env
.python-version
*.sqlite3
*.db
.history
.BurpSuite/
.CFUserTextEncoding
.android/
.angular-config.json
.bash_history
.cache/
.config/
.continue/
.cursor/
.docker/
.emulator_console_auth_token
.erlang.cookie
.gem/
.gitconfig
.gradle/
.hawtjni/
.hyper.js
.hyper_plugins/
.idlerc/
.ipython/
.javacpp/
.jupyter/
.keras/
.konan/
.lesshst
.local/
.matplotlib/
.mitmproxy/
.mongodb/
.mysql_history
.node_repl_history
.npm/
.nvm/
.openjfx/
.pyenv/
.rbenv/
.redhat/
.ssh/
.swiftpm/
.tor/
.torrc
.viminfo
.virtualenvs/
.void-editor/
.wapiti/
.warp/
.wdm/
.wget-hsts
.wine/
.yarnrc
.zcompdump
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc
Desktop/
Faeden-main.zip
mmmm-main.zip
mnmnnmnm-main.zip
resumes/
*.docx
*.pdf
Figure_2.png
IdeaProjects/
Library/
MernCharts/
Movies/
Music/
Pictures/
Pipfile

Virtual Machines.localized/
data/
ecommerce/
g++
hi.js
i saw the devil short part 1.drp
iiitd-resume/
import requests.py
process.env
import subprocess.py
member/
mongodb-macos-aarch64-7.0.11 /
mp.java
my-app/
package-lock.json
page.html
playground-1.mongodb.js
react_portfolio/
test.py
test.py.save
v3.0.19.tar.gz
zap_root_ca.cer
git@github.com:sagar27786/
"Screenshot 2025-06-17 at 2.44.36\342\200\257AM.jpg"
